# Configuração do Banco de Dados
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=projeto_ssi
DB_USER=root
DB_PASS=

# Configuração da Aplicação
APP_ENV=development
APP_DEBUG=1
APP_URL=http://localhost:8080

# Sessão
SESSION_LIFETIME=7200

